@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


body {
	margin: 0;
}

#page-wrapper {
	width: inherit;
	margin-right: inherit;
	margin-left: inherit;	
}

@media (max-width: 1130px) {
	#page-wrapper {
		width: 1130px;
		margin-right: auto;
		margin-left: auto;	
	}
}

.region region-content {
	position: absolute;
    margin: 0;
    width: 100%;
}


	/* --- HEADER --- */

#header {
	width: 1130px;
	padding-right: 15px;
	padding-left: 15px;
	margin-top: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (max-width: 1130px) {
	#header {
		margin: 0;
		margin-top: 15px;
		width: 1100px;
	}	
}

#header div {
	display: inline;
}

#header div div a{
	float: left;
}

#header div div div{
	float: right;
}

#logo img {
	margin-top: 21px;
	width: 349px;
	height: 81px;
}

#block-block-1 {
	padding-right: 15px;
}

#phone {
	font-family: Raleway;
	color: #2d6075;
	font-size: 37px;/* Approximation due to font substitution */
	font-weight: 500;
	line-height: 18px;/* Approximation due to font substitution */
	text-align: left;
	margin-top: 6px;
}

#phone_img {
    margin-left: 120px;
    border-bottom: solid 3px #2d6075;
    padding-left: 11px;
    padding-right: 11px;
    padding-bottom: 10px;
}

#phone_line {
	float: right;
	margin-top: -5px;
}

#block-block-2 {
	padding-right: 15px;
	margin-top: -50px;
}

#header_menu {
	font-family: Open Sans;
	color: #000000;
	font-size: 15px;
	font-weight: 300;
	line-height: 18px;
	text-align: left;	
	margin-top: 16px;
	padding-left: 13px;
}

.header_menu_1 {
	margin-top: 13px;
	width: 24px;
	height: 24px;
    margin-left: 11px;	
	background-image: url(/sites/all/themes/laveg2/images/header_menu.png);
	background-position-y: -2px;
}

.header_menu_2 {
	margin-top: 11px;
	width: 28px;
	height: 29px;
	margin-left: 13px;
	background-image: url(/sites/all/themes/laveg2/images/header_menu.png);
	background-position-x: -24px;
}

.header_menu_3 {
	margin-top: 14px;
	width: 21px;
	height: 21px;
	background-image: url(/sites/all/themes/laveg2/images/header_menu.png);
	background-position-x: 21px;
    background-position-y: -4px;
}

	/* --- NAVIGATION --- */

#navigation {
	margin: 0;
	margin-top: 34px;
	height: 54px;
	border: solid 1px black;
	background-color: black;
    background-image: url(/sites/all/themes/laveg2/images/navigation.png);
}

#navigation h2 {
	display: none;
}

#navigation div {	
	width: 1130px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
	margin-bottom: 21px;
}

@media (max-width: 1130px) {
	#navigation div {
		width: 1100px;
	}
}

#main-menu a{
	text-decoration: none;
	font-family: Raleway;
	color:
	#ffffff;
	font-size: 17px;/* Approximation due to font substitution */
	font-weight: 400;
	line-height: 25px;/* Approximation due to font substitution */
	text-align: left;
}

#main-menu li{
	padding-right: 41px;
	padding-left: 0;
}

#block-views-menu-block {
	position: relative;
}

#red_menu {
	position: absolute;
    float: right;
    width: 280px;
    height: 541px;
    top: 118px;
    left: 166px;
    z-index: 99;
	background-color: transparent;
	background-image: url(/sites/all/themes/laveg2/images/redmenu.png);	
}

@media (max-width: 1130px) {
	#red_menu {
		left: 275px;
	}	
}

#red_menu_text {
	width: 240px;
    margin-top: 115px;
	margin-left: 5px;
    padding-right: 15px;
    padding-left: 15px;
	padding-top: 15px;
    padding-bottom: 40px;
    font-family: Calibri;
    color: #000000;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    float: left !important;
}

#red_menu_1 {
    width: 32px;
    height: 26px;
    background-color: #222222;
    float: left !important;
    margin-top: 22px;
	font-family: OpenSans;
    color: #ffffff;
    font-size: 17px;
    font-weight: 300;
    line-height: 25px;
    text-align: center;	
}

#red_menu_line {
    background-color: #ffffff;
    width: 176px;
    height: 6px;
    float: left !important;
    margin-top: 32px;
}

#red_menu_2 {
    width: 32px;
    height: 26px;
    background-color: #b5141d;
    float: left !important;
    margin-top: 22px;
	font-family: OpenSans;
    color: #ffffff;
    font-size: 17px;
    font-weight: 300;
    line-height: 25px;
    text-align: center;	
}

#red_menu_form {
    float: left !important;
    margin-left: 20px;
	font-family: Calibri;
	color:
	#060606;
	font-size: 17px;
	font-weight: 700;
	line-height: 17px;
	text-align: left;
}

label {
	font-family: 'Trebuchet MS';
	color:
	#060606;
	font-size: 13px;
	font-weight: 400;
	line-height: 28px;
	text-align: left;
}

button {
	cursor: pointer;
	background-color: #b5141d;
	width: 222px;
	height: 47px;
	/*font-family: Calibri;*/
	color:
	#ffffff;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: -0.48px;
	line-height: 17px;
	text-align: center;	
	border: 0;
	margin: 9px;
	margin-top: 21px;
}

input[type=radio] {
	display: none;
}

label {
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
	font-size: 13px;
}

label:before {	
	content: "";
	margin-right: 10px;
	margin-left: 4px;	
	border-radius: 50%;
	border-style: solid;
	border-width: 1px;
	border-color: #c0c0c0;
	background-color: #ffffff;
	width: 13px;
	height: 13px;	
	position: absolute;
	left: 0;
	top: 7px;
	bottom: 1px;
}

input[type=radio]:checked + label:before {
    content: "";	
	margin-right: 10px;
	border-radius: 50%;
	border-style: solid;
	border-width: 1px;
	border-color: #c0c0c0;
	background-color: #a60912;;
	width: 13px;
	height: 13px;	
	position: absolute;
	left: 0;
	bottom: 1px;
}

	/* CONTENT */

#first-time{
	display: none;	
}

#content h1 {
	display: none;
}
	
#slider_box {
	width: 1130px;
	margin-right: auto;
	margin-left: auto;
	/*margin-bottom: 617px;*/
}

/*
#main1 {
	margin: 0;
	position: absolute;
  	width: 100%;
	background-color: transparent;
	background-image: url(/sites/all/themes/laveg2/images/main1.png);
	background-size: cover;
}
#main2 {
	margin: 0;
	position: absolute;
  	width: 100%;
	background-color: transparent;
	background-image: url(/sites/all/themes/laveg2/images/main2.png);
	background-size: cover;
}
#main3 {
	margin: 0;
	position: absolute;
  	width: 100%;
	background-color: transparent;
	background-image: url(/sites/all/themes/laveg2/images/main3.png);
	background-size: cover;
}
*/
#views_slideshow_cycle_teaser_section_slider-block,
#views_slideshow_cycle_div_slider-block_0,
#views_slideshow_cycle_div_slider-block_1,
#views_slideshow_cycle_div_slider-block_2 {
	margin: 0;
	width: 100% !important;
}

#block-views-welcome-block {
    position: absolute;
	margin: 0;
	/*margin-top: 643px;*/
	width: 100%;
	z-index: 75;
}

@media (max-width: 1130px) {
	#block-views-welcome-block {
		width: 1100px;	
	}	
}

#block-views-welcome-block h2 {
	width: 1100px;
    margin-right: auto;
    margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	font-family: OpenSans;
    color: #65666b;
    font-size: 21.33px;
    font-weight: 300;
    line-height: 25px;
    text-align: left;
    transform: scaleY(1.031);
}

#block-views-welcome-block .content {
	width: 1100px;
    margin-right: auto;
    margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;	
	font-family: Calibri;
	color: #65666b;
	font-size: 15px;
	font-weight: 400;
	line-height: 16px;
	text-align: justify;
}

#welcome_images {
	width: 334px;
    height: 165px;
    background-color: black;
    position: absolute;
    margin-left: 4px;
    background-image: url(/sites/default/files/slider/Layer%202344.png);
}

#welcome_red_block {
	width: 341px;
    height: 52px;
	margin-top: 57px;
    background-color: #9B001A;
    position: absolute;
}

#welcome_text {
	margin-top: 8px;
	margin-left: 364px;
}

#block-views-more-menu-block {
    position: relative;
	z-index: 50;
	width: 100%;
	margin: 0;
    margin-top: /*890*/274px;	
}

@media (max-width: 1130px) {
	#block-views-more-menu-block {
		width: 1130px;
	}
}

#block-views-more-menu-block .content {
	background-color: #EEEEEE;
	border-style: solid;
	border-width: 1px;
	border-color: #ebebeb;
}

#block-views-more-menu-block .view-content {
	width: 1100px;
	height: 271px;
    margin-right: auto;
    margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	font-family: Calibri;
	color:
	#000000;
	font-size: 14px;
	font-weight: 400;
	line-height: 23px;
	text-align: center;	
}

#block-views-more-menu-block .views-row {
	width: 292px;
    display: inline;
    float: left;
	padding-top: 19px;
}

#block-views-more-menu-block .views-row-2 {
	padding-left: 112px;
    padding-right: 112px;
}

#block-views-more-menu-block .views-field-title {
	margin-top: 77px;
	font-family: Raleway;
	color:
	#b5141d;
	font-size: 22px;/* Approximation due to font substitution */
	font-weight: 400;
	line-height: 24px;/* Approximation due to font substitution */
	text-align: center;	
}

#images_1 {
	width: 52px;
    height: 52px;
    background-color: #202020;
    margin-top: -100px;
    margin-bottom: 62px;
    margin-left: 120px;
	border-radius: 5px;
	background-image: url(/sites/all/themes/laveg2/images/images_1.png);
	background-repeat: no-repeat;
	background-position-y: 11px;
    background-position-x: 13px;
}

#images_2 {
	width: 52px;
    height: 52px;
    background-color: #202020;
    margin-top: -100px;
    margin-bottom: 62px;
    margin-left: 120px;
	border-radius: 5px;
	background-image: url(/sites/all/themes/laveg2/images/images_2.png);
	background-repeat: no-repeat;
    background-position-y: 11px;
    background-position-x: 15px;	
}

#images_3 {
	width: 52px;
    height: 52px;
    background-color: #202020;
    margin-top: -100px;
    margin-bottom: 62px;
    margin-left: 120px;
	border-radius: 5px;
	background-image: url(/sites/all/themes/laveg2/images/images_3.png);
	background-repeat: no-repeat;
    background-position-y: 16px;
    background-position-x: 14px;	
}

#block-views-more-menu-block button {
	background-color: #A90D24;
	width: 73px;
	height: 36px;
	margin-top: 13px;
	border-radius: 5px;
	font-family: 'Myriad Pro';
	color:
	#ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;	
}

#block-views-services-block {
    position: relative;
    margin: 0;	
    width: 100%;
	height: 210px;
}

#block-views-services-block h2 {
    width: 1100px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    font-family: OpenSans;
    color: #65666b;
    font-size: 21.33px;
    font-weight: 300;
    line-height: 25px;
    text-align: left;
    transform: scaleY(1.031);
}

#block-views-services-block .field-content {
	width: 1100px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

#block-views-services-block .content ul {
    float: left;
    width: 270px;
    margin: 0;
    padding: 0;	
}

#block-views-services-block .content ul :hover {
	font-family: 'Trebuchet MS';
	color: #b5141d;
	font-size: 13px;
	font-weight: 400;
	line-height: 36px;
	text-align: left;
}

#block-views-services-block .mid_list {
    padding-left: 140px !important;
    padding-right: 140px !important;
}

#block-views-services-block .content li {
	list-style-type: none;
	font-family: 'Trebuchet MS';
	color: #7b7b7b;
	font-size: 13px;
	font-weight: 400;
	line-height: 36px;
	text-align: left;
    border-bottom: solid 1px #E5E5E5;	
}

#block-views-services-block .content li:before {
    content: "►";
	color: black;
	font-size: 12px;
	padding-right: 8px;
}

#block-views-services-block .last {
    border: 0 !important;
}

#block-views-services-block .new_line {
	margin-left: 25px;
    margin-top: -19px;
}

#block-views-glasses-block {
    position: relative;
	width: 100%;
	margin: 0;
}

@media (max-width: 1130px) {
	#block-views-glasses-block {
		width: 1130px;
	}
}

#block-views-glasses-block .content {
	background-color: #000000;
	background-image: url(/sites/all/themes/laveg2/images/glasses.png);
	background-size: cover;
}

#block-views-glasses-block .view-content {
	width: 1100px;
	height: 402px;
	margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;	
	font-family: Calibri;
	color: #ffffff;
	font-size: 14.98px;
	font-weight: 400;
	letter-spacing: -0.3px;
	line-height: 27.03px;
	text-align: left;
	transform: scaleX(1.0015); /* width and height properties ommitted due to transform */	
}

#block-views-glasses-block .work_system {
	padding-top: 61px;
	padding-bottom: 36px;
	font-family: Raleway;
	color: #ffffff;
	font-size: 30px;/* Approximation due to font substitution */
	font-weight: 600;
	line-height: 21px;/* Approximation due to font substitution */
	text-align: left;	
}

#block-views-glasses-block .field-content {
    padding-left: 603px;
}

#block-views-glasses-block button {
	width: 221px;
	height: 59px;
	margin-top: 46px;
	border-radius: 13px;
	background-color: #b5141d;
	font-family: Raleway;
	color: #ffffff;
	font-size: 27px;/* Approximation due to font substitution */
	font-weight: 300;
	line-height: 21px;/* Approximation due to font substitution */	
}

#footer {
    position: relative;
	width: 100%;
	margin: 0;
}

@media (max-width: 1130px) {
	#footer {
		width: 1130px;
	}
}

#slogan {
    padding-top: 40px;
    padding-bottom: 42px;
    font-family: Raleway;
    color: #000000;
    font-size: 36px;
    font-weight: 100;
    line-height: 21px;
    text-align: center;
}

#contact {
	background-color: #2d2d2d;
	font-family: 'Trebuchet MS';
	color: #ffffff;
	font-size: 13px;
	font-weight: 400;
	text-align: left;	
}

#contact .container {
	width: 1100px;
	height: 79px;
	margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;	
}

#contact ul {
    margin: 0;
    margin-top: 24px;	
    display: inline-flex;
	background-color: #2d2d2d;
	font-family: 'Trebuchet MS';
	color: #ffffff;
	font-size: 13px;
	font-weight: 400;
	text-align: left;	
}

#contact li {
    font-size: 14px;
    list-style: none;
    padding-top: 10px;
}


#contact ul li a {
    font-family: 'Trebuchet MS';
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}

#contact .img_mark {
	float: left;
    height: 29px;
    width: 18px;
    margin-top: -7px;
    margin-left: -37px;
    background-image: url(/sites/all/themes/laveg2/images/footer_img.png);
    background-repeat: no-repeat;
}

#contact .img_phone {
	float: left;
    height: 29px;
    width: 9px;
    margin-top: -7px;
	margin-left: 37px;
    margin-right: 15px;
    background-image: url(/sites/all/themes/laveg2/images/footer_img.png);
    background-repeat: no-repeat;
	background-position-x: -18px;
}

#contact .img_mobile {
	float: left;
    height: 29px;
    width: 13px;
    margin-top: -7px;
	margin-left: 47px;
    margin-right: 15px;
    background-image: url(/sites/all/themes/laveg2/images/footer_img.png);
    background-repeat: no-repeat;
	background-position-x: -27px;
}

#contact .img_email {
	float: left;
    height: 29px;
    width: 24px;
    margin-top: -2px;
	margin-left: 47px;
    margin-right: 15px;
    background-image: url(/sites/all/themes/laveg2/images/footer_img.png);
    background-repeat: no-repeat;
	background-position-x: -40px;
}
	
#copyright {
	background-color: #000000;
}

#copyright .container{
	width: 1100px;
	height: 124px;
	margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;	
}

#copyright .lab_cop {
	float: left;
    padding-top: 31px;
}

#copyright .label {
	padding-bottom: 43px;
	font-family: IstokWeb;
	color: #ffffff;
	font-size: 50px; /* Approximation due to font substitution */
	font-weight: 700;
	line-height: 25px; /* Approximation due to font substitution */
	text-align: left;
	transform: scaleX(1.0012); /* width and height properties ommitted due to transform */
}

#copyright .cop {
	font-family: Arial;
	color: #ffffff;
	font-size: 11.03px;
	font-weight: 400;
	line-height: 18.045px;
	text-align: left;
}

#copyright .text {
    float: none;
    margin-left: 608px;
	padding-top: 32px;
	font-family: 'Trebuchet MS';
	color: #ffffff;
	font-size: 11px;
	font-weight: 400;
	line-height: 18.045px;
	text-align: left;
	transform: scaleX(1.0035); /* width and height properties ommitted due to transform */
}










